<section class="banner-container">
    <div class="banner-inner-container">
        <h2 class="banner-title">Trouvez la mission qui vous correspond.</h2>
        <p class="banner-paragraph">Découvrez des annonces claires, accessibles et adaptées à vos talents.</p>
        <p class="banner-paragraph">Publiez, éditez ou supprimez vos offres en toute simplicité.</p>
        <a href="/notices"><button type="button" id="banner-button" class="banner-button">Découvrez les
                offres</button></a>
    </div>
</section>