<header class="header">
    <div class="row-flex-container">
        <a href="/">
            <div class="row-flex-container"><img src="/images/student.png" alt="Icône de TalentHub" class="header-icon">
                <p class="brand-text">TalentHub</p>
            </div>
        </a>
        <div class="burger-menu-flex-container">
            <img id="burger-menu" src="/images/menu.png" alt="Burger menu" class="burger-menu">
            <div id="burger-menu-link-container" class="burger-menu-link-container burger-menu-links hidden">
                <a href="/notices"><button id="notice-button" class="white-button">Les annonces</button></a>
                <a href="/notices/add"><button id="add-notice" class="blue-button">Déposer une annonce</button></a>
            </div>
        </div>
        <div class="link-row-flex-container">
            <a href="/notices"><button id="notice-button" class="white-button">Les annonces</button></a>
            <a href="/notices/add"><button id="add-notice" class="blue-button">Déposer une
                    annonce</button></a>
        </div>
    </div>
</header>